<%= form_with(model: business, class: '', local: true) do |form| %>
  <% if business.errors.any? %>
    <div class="">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= form.label :employer_id %>
    <%= form.text_field :employer_id, class: '', placeholder: 'Employer id' %>
  </div>

  <div class="">
    <%= form.label :logo %>
    <%= form.text_field :logo, class: '', placeholder: 'Logo' %>
  </div>

  <div class="">
    <%= form.label :description %>
    <%= form.text_area :description, class: '', placeholder: 'Description' %>
  </div>

  <div class="">
    <%= form.label :location %>
    <%= form.text_field :location, class: '', placeholder: 'Location' %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit 'Submit', class: ""%>
  </div>
<% end %>
