<p class="notice"><%= notice %></p>
<% @businesses.each do |business| %>
  <div class="">
    <svg class="" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    <div class="">
      <h5 class=""><%= business.location %></h5>
      <p class=""><%= business.logo %></p>
      <p class=""><%= business.description %></p>
      <p class=""><small class=""><%= business.updated_at %></small></p>
      <%= link_to 'Show', business, class: "" %>
      <% if current_user.id == business.employer_id %>
        <%= link_to 'Edit', edit_business_path(business), class: "" %>
        <%= link_to 'Destroy', business, method: :delete, data: { confirm: 'Are you sure?' }, class: "" %>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>
