<%= form_tag(sessions_path, {class: ""}) do |form| %>
  <img class="" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="">Please log in</h1>
  <p class="notice"><%= notice %></p>
  <div class="">
    <%= label_tag :email, 'Email', class: "" %>
    <%= text_field_tag :email, nil, class: "",  placeholder: 'Email' %>
  </div>
  <br/>
  <div class="">
    <%= label_tag :password, 'Password', class: "" %>
    <%= password_field_tag :password, nil, class: "",  placeholder: 'Password' %>
  </div>
  <div class="actions">
    <%= submit_tag "Login", class: "" %>
  </div>
<% end %>
