<%= form_with(model: comment, class: '', local: true) do |form| %>
  <% if comment.errors.any? %>
    <div class="">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :post_id, type: 'hidden', value: post_id, class: '' %>
  <%= form.text_field :user_id, type: 'hidden', value: current_user.id, class: '' %>
  <%= form.text_field :flagged, type: 'hidden', value: 0, class: '' %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: '', placeholder: 'Comment' %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit 'Comment', class: ""%>
  </div>
<% end %>
