<%= form_with(model: student, class: "", local: true) do |form| %>
  <% if student.errors.any? %>
    <div class="">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "",  placeholder: 'User id' %>
  </div>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :institution_name %>
        <%= form.text_field :institution_name, class: "",  placeholder: 'Institution' %>
      </div>
    </div>

    <div class="col">
      <div class="field" style="margin-bottom: 1em">
        <%= form.label :interests %>
        <%= form.text_area(:interests, class: '') %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area(:bio, class: '') %>
  </div>

  <div class="row">
    <div class="col">
      <div class="field">
        <%= form.label :course_name %>
        <%= form.text_field :course_name, class: "",  placeholder: 'Course name' %>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <%= form.label :year_started_course %>
        <%= form.text_field :year_started_course, class: "",  placeholder: 'Course started year' %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :expected_graduation_year %>
    <%= form.text_field :expected_graduation_year, class: "",  placeholder: 'Expected graduation year' %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit 'Add details', class: "" %>
  </div>
<% end %>
