<%= form_with(model: user, class: "", local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <img class="" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="">Enter your details</h1>
  <p class="notice"><%= notice %></p>

  <div class="">
    <%= form.label :email %>
    <%= form.text_field :email, class: "",  placeholder: 'Email' %>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <%= form.label :password %>
        <%= form.password_field :password, class: "",  placeholder: 'Password' %>
      </div>
    </div>
    
    <div class="">
      <div class="">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "",  placeholder: 'Confirm password' %>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "",  placeholder: 'First name' %>
      </div>
    </div>

    <div class="">
      <div class="">
        <%= form.label :middle_name %>
        <%= form.text_field :middle_name, class: "",  placeholder: 'Middle name' %>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "",  placeholder: 'Last name' %>
      </div>
    </div>

    <div class="">
      <div class="">
        <%= form.label :username %>
        <%= form.text_field :username, class: "",  placeholder: 'Username' %>
      </div>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= form.label :user_type %>
      <%= form.select :user_type, [['Employer', true], ['Student', false]], {:prompt => "Select User type"}, { :class => '' } %>
    </div>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit 'Register', class: "" %>
  </div>
<% end %>
