<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @user.institution_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @user.course_name %>
</p>

<p>
  <strong>Year started course:</strong>
  <%= @user.year_started_course %>
</p>

<p>
  <strong>Expected graduation year:</strong>
  <%= @user.expected_graduation_year %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @user.interests %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
