<div class="shadow px-32 py-32">
  <h3 class="text-5xl tracking-wide">Find the Job that Fits Your Life</h3>
  <p class="whitespace-pre-line leading-relaxed tracking-wide">Studez is an online platform where students get to find job and internship opportunities available 
    for their student type portfolio. Each year, more than 20k students turn to this website to get work,
    with over 80,000 applications every month.</p>
  <%= form_tag(opportunities_path, method: :get, class: "flex mt-8 mb-8") do %>
    <%= text_field_tag(:search_title, params[:search_title], placeholder: "Job Title or Keywords", class: "shadow appearance-none border rounded py-5 px-5 w-3/6 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")%>
    <%= submit_tag("Search", class: "ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline")%>
  <% end %>
  <p><b>Trending Keywords:</b> Designer, Developer, Web, Interns, Engineer, Nurse.</p>
</div>

<div class="shadow bg-gray-200 px-32 py-12">
  <h4 class="mb-4 text-2xl tracking-wide">Popular Job Categories</h4>
  <div class="flex flex-wrap mb-4">
    <% @popular_job_categories.each do |job_category| %>
      <div class="w-1/5 pr-8">
        <div class="p-8 text-center mb-4 shadow rounded border-b-4 border-white hover:border-green-500 bg-white py-4">
          <p class="h-32"><i class="icon-lock text-6xl text-green-500"></i></p>
          <p><%= job_category.name %></p>
          <p class="text-gray-700 text-sm"><%= job_category.open_positions %> open positions</p>
          <%= link_to 'View', opportunities_path(search_category: job_category.name), class: "hover:text-green-500 text-gray-500 font-bold" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to 'Browse All Categories', opportunities_path, class: "-ml-24 px-8 py-4 ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>

<div class="px-32 pt-20">
  <h4 class="text-center mb-4 text-2xl tracking-wide">How It Works?</h4>
  <div class="flex flex-wrap mb-4">
    <div class="w-1/3 p-12 text-center">
      <p class="h-32"><i class="icon-lock text-6xl text-green-500"></i></p>
      <p class="font-medium">Create an account</p>
      <p class="text-gray-600">Post a job and tell us about your project. We'll quickly notify matching students to apply for that position.</p>
    </div>
    <div class="w-1/3 p-12 text-center">
      <p class="h-32"><i class="icon-search text-6xl text-green-500"></i></p>
      <p class="font-medium">Search Jobs</p>
      <p class="text-gray-600">Browse profiles and submissions then interview top candidates.</p>
    </div>
    <div class="w-1/3 p-12 text-center">
      <p class="h-32"><i class="icon-pin text-6xl text-green-500"></i></p>
      <p class="font-medium">Save & Apply</p>
      <p class="text-gray-600">Save interesting Job listings and apply for them later.</p>
    </div>
  </div>
</div>

<div class="bg-gray-200">
  <div class="max-w-6xl mx-auto py-12">
    <div class="flex">
      <p class="flex-1 mb-4 text-2xl tracking-wide">Recent Jobs</p>
      <%= link_to 'Browse All Jobs', opportunities_path, class: "justify-end text-green-400" %>
    </div>
    <% count = 1 %>
    <% @featured_jobs.each do |job| %>
      <% break if count > 4 %>
      <div class="flex tracking-wide bg-white shadow py-8 px-24 rounded-lg mb-4 border border-white hover:border-green-500">
        <p class="flex-auto">
          <%= image_tag "logo.png", width: 120, height: 120 %>
        </p>
        <div class="flex-auto">
          <p class="text-green-600 font-medium"><%= job.category %></p>
          <p class="font-medium mb-3"><%= job.name %></p>
          <p class="text-gray-600 text-sm whitespace-pre"><b>Location: </b><%= job.location %></p>
          <p class="text-gray-600 text-sm"><b>Posted</b> <%= time_ago_in_words(job.posted_on.to_s)  %> ago by <a href="#" class="text-green-400"><%= job.posted_by %></a></p>
          <p class="text-gray-600 text-sm whitespace-pre"><b>Deadline: </b><%= distance_of_time_in_words(Time.now, job.deadline) %> from now on <%= Time.strptime(job.deadline.to_s, "%Y-%m-%d").to_s.split(" ")[0] %></p>
        </div>
        <div class="flex-auto flex items-center justify-end">
          <div class="pr-4">
            <%= link_to 'Browse Job', Opportunity.find(job.id), class: "bg-white border border-green-500 hover:bg-green-500 text-green-500 hover:text-white py-2 px-4 rounded" %>
          </div>
        </div>
      </div>
      <% count = count + 1 %>
    <% end %>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-6xl mx-auto py-12">
    <div class="flex">
      <p class="flex-1 mb-4 text-2xl tracking-wide">Browse local Jobs</p>
      <p class="justify-end text-green-400 mr-4">Browse All Jobs</p>
    </div>
    <div class="flex flex-wrap mb-4">
      <% count = 1 %>
      <% @jobs_by_location.each do |group| %>
        <% break if count > 8 %>
        <div class="pr-4 pb-4 w-1/3">
          <div class="pl-4 pb-4 bg-cover bg-center bg-fixed hover:opacity-50 shadow rounded" style="background-image:url('https://images.unsplash.com/photo-1459262838948-3e2de6c1ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');">
            <p class="h-32"></p>
            <p class="text-white font-bold"><%= group.location %></p>
            <p class="text-white text-xs"><%= group.count %></p>
          </div>
        </div>
        <% count = count + 1 %>
      <% end %>
    </div>
  </div>
</div>
