<%= form_with(model: submission, class: "bg-white shadow py-12 px-4 text-center w-1/2 mx-auto", local: true) do |form| %>
  <% if submission.errors.any? %>
    <div class="">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="text-xl font-bold">Apply</h1>
  <p class="notice text-blue-500"><%= notice %></p>

  <%= form.text_field :opportunity_id, type: 'hidden', value: opportunity_id %>
  <%= form.text_field :student_id, type: 'hidden', value: student_id %>
  <%= form.text_field :resume_id, type: 'hidden', value: resume_id %>

  <div class="mb-2">
    <%= form.label :write_a_cover_letter %>
    <%= form.text_area :cover_letter, class: "shadow appearance-none border rounded w-full h-32 py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  placeholder: 'Write a Cover letter' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "mb-4 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
  </div>
<% end %>
