<%= form_with(model: submission, class: 'form-sessions', local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :opportunity_id %>
    <%= form.text_field :opportunity_id, class: 'form-control', placeholder: 'Opportunity id' %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, class: 'form-control', placeholder: 'Student id' %>
  </div>

  <div class="field">
    <%= form.label :cover_letter %>
    <%= form.text_field :cover_letter, class: 'form-control', placeholder: 'Cover letter' %>
  </div>

  <div class="field">
    <%= form.label :cv %>
    <%= form.text_field :cv, class: 'form-control', placeholder: 'CV' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-lg btn-success btn-block"%>
  </div>
<% end %>
