
<div class="bg-gray-200 h-full px-64 py-32 -mb-64">
    <% if notice.present? %>
      <p class="notice text-blue-500 bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto"><%= notice %></p>
    <% end %>
    <div class="bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
      <p>
        <strong>
          <%= @submission.opportunity.name %> | 
          @<%= @submission.opportunity.business_id %>
        </strong>
      </p>
      <p>
        <strong>Posted by: </strong><%= @submission.opportunity.business.employer.user.username %>
      </p>
      <p>
        <strong>Location: </strong><%= @submission.opportunity.location %>
      </p>
      <p>
        <strong>Applicant:</strong>
        <%= @submission.student.user.username %>
      </p>

      <p>
        <%= @submission.cover_letter %>
      </p>
      <p>
        <strong>Resume:</strong>
        <br/>
        <%= @submission.resume %>
      </p>
    </div>
    <div class="bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
      <%= link_to 'Edit cover letter', edit_submission_path(@submission), class: "text-blue-400 hover:underline" %> |
      <%= link_to 'Back to my submissions', submissions_path(target_student: @submission.student_id), class: "text-pink-400 hover:underline" %>
    </div>
</div>
