
<div class="bg-gray-200 px-64 py-8">
    <% if notice.present? %>
      <p class="notice text-blue-500 bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto"><%= notice %></p>
    <% end %>
    <div class="bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
      <p class="text-blue-600 font-bold">
        <strong>
          <%= @submission.opportunity.name %> | 
          @<%= @submission.opportunity.business_id %>
        </strong>
      </p>
      <p class="text-xs">
        <strong>Posted by: </strong><%= @submission.opportunity.business_username %>
      </p>
      <p class="text-xs">
        <strong>Location: </strong><%= @submission.opportunity_location %>
      </p>
      <p class="text-sm text-pink-700 mt-2">
        <strong>Applicant:</strong>
        <%= @submission.student.username %>
      </p>

      <p class="text-gray-600 text-sm tracking-wide whitespace-pre my-2">
        <%= @submission.cover_letter %>
      </p>
      <%= link_to 'View Resume', resume_path(@submission.resume), class: "text-teal-700 hover:underline" %>
    </div>
    <div class="bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
      <%= link_to 'Edit cover letter', edit_submission_path(@submission), class: "text-blue-400 hover:underline" %> |
      <%= link_to 'Back to my submissions', submissions_path(target_student: @submission.student_id), class: "text-pink-400 hover:underline" %>
    </div>
</div>
