<%= form_with(model: employer, class: 'form-sessions', local: true) do |form| %>
  <% if employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
        <% employer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: 'form-control', placeholder: 'User id' %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: 'form-control', placeholder: 'Bio' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-lg btn-success btn-block"%>
  </div>
<% end %>
