<p class="notice text-blue-500"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @employer.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @employer.bio %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employer.title %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
