<p class="notice text-blue-500"><%= notice %></p>
<div class="bg-gray-100 flex pt-12 pl-40 pr-24">
  <div class="w-1/4 pr-4">
    <h3 class="tracking-wide mb-4"></h3>
  </div>
  <div class="max-w-2xl w-3/4">
    <h3 class="tracking-wide mb-4"><%= @post.title %> by <%= @post.username %></h3>
    <div class="mb-4 rounded-lg w-full lg:flex">
      <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8">
          <p class="text-sm text-grey-dark flex items-center">
            <svg class="text-grey w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
            </svg>
            Written by <%= @post.username %>
          </p>
          <div class="text-black font-bold text-2xl mb-2"><%= @post.title %> <p class="text-sm text-grey-dark"><%= @post.updated_at %></p></div>
          <div class="text-grey-darker text-base"><%= @post.content %></div>
        </div>
        <div class="flex items-center">
          <div class="flex-auto flex items-center justify-end">
            <%= link_to 'All blogs', posts_path, class: "bg-white border-2 border-green-500 hover:bg-green-500 text-green-500 hover:text-white font-bold py-2 px-4 rounded" %>
            <% if logged_in? %>
              <% if current_user.id == @post.author_id %>
                <%= link_to 'Edit', edit_post_path(@post), class: "ml-2 bg-white border-2 border-blue-500 hover:bg-blue-500 text-blue-500 hover:text-white font-bold py-2 px-4 rounded" %>
                <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-2 bg-white border-2 border-red-500 hover:bg-red-500 text-red-500 hover:text-white font-bold py-2 px-4 rounded" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
