<%= form_with(model: opportunity, class: '', local: true) do |form| %>
  <% if opportunity.errors.any? %>
    <div class="">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="">Post Opportunity</h1>
  <p class="notice"><%= notice %></p>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "", placeholder: 'Name' %>
  </div>

  <%= form.text_field :business_id, type: 'hidden', value: business_id %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "", placeholder: 'Description' %>
  </div>

  <div class="field">
    <%= form.label :requirements %>
    <%= form.text_area :requirements, class: "", placeholder: 'Requirements' %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.text_area :other, class: "",  placeholder: 'Others' %>
  </div>

  <div>
    <%= form.label :deadline %>
    <br/>
    <%= form.date_select :deadline, class: "",  placeholder: 'Deadline' %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class: "",  placeholder: 'Category' %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit 'Post opportunity', class: "" %>
  </div>
<% end %>
