<div class="bg-gray-200 px-32 py-8">
  <% if current_employer.present? %>
    <%= form_with(model: opportunity, class: 'bg-white shadow py-12 px-8 text-center w-1/2 mx-auto', local: true) do |form| %>
      <% if opportunity.errors.any? %>
        <div class="">
          <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

          <ul>
            <% opportunity.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h1 class="text-xl font-bold">Post Job</h1>
      <p class="notice text-blue-500"><%= notice %></p>

      <div class="mb-2">
        <%= form.label :name %>
        <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Name' %>
      </div>

      <%= form.text_field :business_id, type: 'hidden', value: business_id %>

      <div class="mb-2">
        <%= form.label :description %>
        <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Description' %>
      </div>

      <div class="mb-2">
        <%= form.label :location %>
        <%= form.text_area :location, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Location' %>
      </div>
      
      <div class="mb-2">
        <%= form.label :requirements %>
        <%= form.text_area :requirements, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Requirements' %>
      </div>

      <div class="mb-2">
        <%= form.label :other %>
        <%= form.text_area :other, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  placeholder: 'Others' %>
      </div>

      <div class="mb-2">
        <%= form.label :deadline %>
        <br/>
        <%= form.date_select :deadline, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  placeholder: 'Deadline' %>
      </div>

      <div class="mb-2">
        <%= form.label :category %>
        <%= form.text_field :category, class: "shadow appearance-none border rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  placeholder: 'Category' %>
      </div>
      <br/>

      <div class="actions">
        <%= form.submit 'Post job', class: "mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <%= link_to 'Back to all my posted jobs', opportunities_path(target_employer: current_employer.id), class: "mb-4 underline" %>
    <% end %>
  <% else %>
    <div class="bg-white my-32 hover:shadow-lg rounded text-center w-1/2 mx-auto">
      <div class="h-4" style="background-image: linear-gradient(-90deg, #eee444, #ccc222);"></div>
      <p class="py-12 px-8 font-bold text-blue-600">Please switch to an employer account to post a job</p>
      <div class="h-4" style="background-image: linear-gradient(-90deg, #ccc222, #eee444);"></div>
    </div>
  <% end %>
</div>
