<div class="bg-gray-200 px-64 py-8">
  <%= form_with(model: resume, local: true, class: "bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto") do |form| %>
    <% if notice.present? %>
      <p class="notice text-blue-500 bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto"><%= notice %></p>
    <% end %>
    <% if resume.errors.any? %>
      <div id="error_explanation" class="notice text-blue-500 bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
        <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

        <ul>
          <% resume.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :student_id %>
      </strong>
      <%= form.text_field :student_id %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :profile_picture %>
      </strong>
      <%= form.text_field :profile_picture %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :full_name %>
      </strong>
      <%= form.text_field :full_name %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :tagline %>
      </strong>
      <%= form.text_field :tagline %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :phone_number %>
      </strong>
      <%= form.text_field :phone_number %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :physical_address %>
      </strong>
      <%= form.text_field :physical_address %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :email_adress %>
      </strong>
      <%= form.text_field :email_adress %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :work_experience %>
      </strong>
      <%= form.text_field :work_experience %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :education %>
      </strong>
      <%= form.text_field :education %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :certifications %>
      </strong>
      <%= form.text_field :certifications %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :skills %>
      </strong>
      <%= form.text_field :skills %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :languages %>
      </strong>
      <%= form.text_field :languages %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :past_projects %>
      </strong>
      <%= form.text_field :past_projects %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :workshops %>
      </strong>
      <%= form.text_field :workshops %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :volunteerships %>
      </strong>
      <%= form.text_field :volunteerships %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :relevant_links %>
      </strong>
      <%= form.text_field :relevant_links %>
    </div>

    <div class="text-gray-600 text-sm tracking-wide my-2">
      <strong>
        <%= form.label :extra_columns %>
      </strong>
      <%= form.text_field :extra_columns %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <div class="bg-white shadow py-2 px-4 text-center mt-4 w-1/2 mx-auto">
    <%= link_to 'View resume', resume_path(resume), class: "text-blue-400 hover:underline" %>
  </div>
</div>
